{% extends 'base.html' %}
{% block title %}Antique | {% endblock %}
{% block content %}

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 808" >
<image xlink:href="static/images/antique_map.jpg" x="0" y="0" width="1200" height="808">
</image>

<a xlink:href="/">
	<circle id="seattle" cx="150" cy="120" r="20"
 	fill="yellow" stroke="orange" stroke-width="5"/>
 	<text x="130" y="125">Seattle</text>
</a>

<a xlink:href="/">
	<circle id="portland" cx="125" cy="180" r="20"
 	fill="yellow" stroke="orange" stroke-width="5"/>
 	<text x="100" y="190">Portland</text>
</a>

<a xlink:href="/">
	<circle id="billings" cx="375" cy="210" r="20"
 	fill="yellow" stroke="orange" stroke-width="5"/>
 	<text x="360" y="220">Billings</text>
</a>

<a xlink:href="/">
	<circle id="billings" cx="430" cy="370" r="20"
 	fill="yellow" stroke="orange" stroke-width="5"/>
 	<text x="420" y="380">Denver</text>
</a>

<a xlink:href="/"><circle id="san_francisco" cx="100" cy="390" r="20"
 fill="yellow" stroke="orange" stroke-width="5"/>
 <text x="60" y="395">San Francisco</text>
</a>

<a xlink:href="/"><circle id="los_angeles" cx="140" cy="470" r="20"
 fill="pink" stroke="blue" stroke-width="5"/>
 <text x="100" y="480">Los Angeles</text>
</a>

<a xlink:href="/"><circle id="austin" cx="570" cy="600" r="20"
 fill="pink" stroke="blue" stroke-width="5"/>
 <text x="550" y="605">Austin</text>
</a>

<a xlink:href="/"><circle id="chicago" cx="760" cy="310" r="20"
 fill="pink" stroke="blue" stroke-width="5"/>
 <text x="735" y="315">Chicago</text>
</a>

<a xlink:href="/"><circle id="boston" cx="1060" cy="240" r="20"
 fill="pink" stroke="blue" stroke-width="5"/>
 <text x="1040" y="240">Boston</text>
</a>

<a xlink:href="/"><circle id="new_york" cx="1010" cy="300" r="20"
 fill="pink" stroke="blue" stroke-width="5"/>
 <text x="980" y="310">New York</text>
</a>

<!-- possibly also...Madison, Minneapolis/St.Paul, St. Louis, Nashville/Memphis, Atlanta, New Orleans, -->

</svg>
<script>
</script>

{% endblock %}