{% extends 'base.html' %}
{% block content %}

  <h2>Headline: {{ article.title }} </h2>
  
    <div class="article-info">

        <div class="img">
          <img src="{{ article.img_src }}" />
        </div> 
        
        <div>
          <a href="{{ article.url }}">Link to Source</a>  
        </div>

        {# user related info #}
        {% if "user_id" in session %}
          <div>
            Your Zipcode: {{ user.zipcode }}
          </div>

          <div>Tags: 
            <ul>
            {% for tag in article.tag_list %}
              <li>{{ tag.tag_name }}</li>
            {% endfor %}
            </ul>
          </div>

          <div>Actions: 
           
              <p><a href="/meet/{{ article.title }}">Meet</a></p>
              <p><a href="/give/{{ article.title }}">Give</a></p>
              <p><a href="/congress/{{ user.zipcode }}">Speak Up</a></p>

          </div>
          
          
        {% else %}
          <div>You must <a href="/login">log in</a> to take action!</div>
        {% endif %}

      {# hidden now while I experiment with current tags --
      <form>
        <div>
        <label>What's it all about? Check off at least one tag that describes your article:
        <div>        
            <p><input type="checkbox" name="tag" value="civil">Civil Rights</p>
            <p><input type="checkbox" name="tag" value="climate">Climate Change</p>
            <p><input type="checkbox" name="tag" value="lgbt">LGBT</p>
            <p><input type="checkbox" name="tag" value="politics">Politics</p>
            <p><input type="checkbox" name="tag" value="education">Education</p>
            <p><input type="checkbox" name="tag" value="finance">Finance</p>
            <p><input type="checkbox" name="tag" value="technology">Technology</p>
            <p><input type="checkbox" name="tag" value="animal">Animal Rights</p>
        </div>
        </label>
        </div>
        <br>
        <div>
            <input type="submit" value="Assign tag">
        </div>
      </form>
      -- end hidden section #}

{% endblock %}