{% extends 'base.html' %}
{% block content %}

  <h2>Headline: {{ article.title }} </h2>
  
    <div class="article-info">

        <div class="img">
          <img src="{{ article.img_src }}" />
        </div> 
        
        <div>
          <a href="{{ article.url }}">Link to Source</a>  
        </div>

        {# user related info #}
        {% if user.user_id in session %}
          <div>
            Your Zipcode: {{ user.zipcode }}
          </div>

          <div>Actions: 
           
                <table class="action-list">
  
                  {# for loop, to list possible actions to take on this article #}
                  <tr>
                    <td><p></p></td>
                    <td><p></p></td>
                
                </tr>
                  {# endfor #}

                </table>  

          </div>
          
        {% else %}
          <div>You must <a href="/login">log in</a> to take action!</div>
        {% endif %}

      <form>
        <div>
        <label>What's it all about? Check off at least one tag that describes your article:
        <div>        
            <p><input type="checkbox" name="tag" value="civil">Civil Rights</p>
            <p><input type="checkbox" name="tag" value="climate">Climate Change</p>
            <p><input type="checkbox" name="tag" value="lgbt">LGBT</p>
            <p><input type="checkbox" name="tag" value="politics">Politics</p>
            <p><input type="checkbox" name="tag" value="education">Education</p>
            <p><input type="checkbox" name="tag" value="finance">Finance</p>
            <p><input type="checkbox" name="tag" value="technology">Technology</p>
            <p><input type="checkbox" name="tag" value="animal">Animal Rights</p>
        </div>
        </label>
        </div>
        <br>
        <div>
            <input type="submit" value="Assign tag">
        </div>
      </form>

{% endblock %}