<!doctype html>

<html>
    <head>
       
        <title>{% block title %}{% endblock %}Apptivist</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/mPurpose-master/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/static/css/mPurpose-master/css/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/static/css/mPurpose-master/css/main.css">
       
        <link type="text/css" rel="stylesheet" href="/static/css/tree.css" />
        

        {# jQuery library #}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
               
        {# mPurpose js files #}
        <script src="/static/css/mPurpose-master/js/jquery.bxslider.js"></script>
        <script src="/static/css/mPurpose-master/js/jquery.fitvids.js"></script>
        <script src="/static/css/mPurpose-master/js/jquery.sequence.js"></script>
        <script src="/static/css/mPurpose-master/js/bootstrap.js"></script>
        <script src="/static/css/mPurpose-master/js/main-menu.js"></script>
        <script src="/static/css/mPurpose-master/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        {# my js files #}
        <script src="/static/js/jscripts.js"></script>       
        

   </head>

    <body>
    <div class="mainmenu-wrapper">
            <div class="container">
                <nav id="mainmenu" class="mainmenu">
                    <ul>
                        <li class="logo-wrapper"><a href="/"><h1>Apptivist</h1></a></li>
                        <li>
                            <a href="/">Newsfeed</a>
                        </li>

                    {% if "user_name" in session %}
                        <li>
                            <a href="/new_post">Post Article</a>
                        </li>
                        <li class="has-submenu active">
                            <a href="/apptivist/{{ session["user_name"] }}">Profile +</a>
                            <div class="mainmenu-submenu">
                                <div class="mainmenu-submenu-inner"> 
                                    <div>
                                        <h4>View Influence</h4>
                                        <ul>
                                            <li><a href="/apptivist/{{ session["user_name"] }}">Homepage (Sample 1)</a></li>
                                        </ul>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                    {% endif %} 
                    </ul>
        
        <!-- Show flashed messages -->    
        <div class="container">
            {% for flash in get_flashed_messages() %}
                <div class="alert alert-info">{{ flash }}</div>
            {% endfor %}
        </div>

            {% block content %}
                Put your body here.
            {% endblock %}
        
        
        


    </body>

</html>