<!doctype html>
<html>
    <head>
     

        <title>Apptivist</title>
        <link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />
        <link type="text/css" rel="stylesheet" href="/static/tree.css" />
        
        {# bxslider style sheet #}
        <link type="text/css" rel="stylesheet" href="/static/jquery.bxslider.css" /> 

    </head>

    <body>

      <h1>Apptivist</h1>
        <div class="homebar">

            <p><a href="/">Home</a></p>

            <!-- show if logged in or not -->
            {% if "user_id" in session %}
                <p><a href="/apptivist/{{ session["user_id"] }}">Profile Me</a></p>
                <p><a href="/new_post">Post a New Article</a></p>
                <p><a href="/logout">Log Out</a></p>
            {% else %}
                <p><a href="/login">Log In</a></p>
                <p><a href="/registration">Register</a></p>
                <p><a href="/add_article">***Add an Article to DB***</a></p>
            {% endif %}
        
        </div>


        <!-- Show flashed messages -->    
        <hr>

            {% for flash in get_flashed_messages() %}
              {{ flash }}
            {% endfor %}

            {% block content %}
                Put your body here.
            {% endblock %}
        
        {# jQuery library #}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        {# my js files #}
        <script src="/static/js/jscripts.js"></script>
        <script src="/static/js/jquery.bxslider.min.js"></script>


        <script>

        </script>

    </body>

</html>