{% extends 'base.html' %}
{% block title %}Contact | {% endblock %}
{% block content %}

  <h1>Congress Member Contact Info</h1>

  <p>Based on your location, these representatives should take your call:</p>

	  <ul>
	  {% for rep in congress_list %}
	  	<div class="congress">
	  	<li>{{ rep['first_name'] }} {{ rep['last_name'] }} : {{ rep['phone'] }}
	  	<p>Get at them:</p>
	  	<ul>
		  	<li><a href="http://www.twitter.com/{{ rep['twitter_id'] }}">On Twitter</a></li>
		  	<li><a href="http://www.twitter.com/{{ rep['facebook_id'] }}">On Facebook</a></li>
		  	<li><a href="http://www.twitter.com/{{ rep['youtube_id'] }}">On Youtube</a></li>
		</ul>
	  	</li>
	  	<br>
	  	<p>Keys: {{ rep.keys() }}
	  	</div>
	  {% endfor %}
	  </ul>

{% endblock %}

