{% extends 'base.html' %}
{% block content %}

  <h1>Open up Your Heart and Give!</h1>

  <h3>You just read: {{ article.title }}</h3>

  <p>These projects could use your help:</p>

      <h3>Global Giving Results:</h3>
      {# TODO. Consider best way to display this info...table? #}
      
      {% for tagged_projs in giving_projs %}
      
        {% for project in tagged_projs %}
        	<li>
        		<a href="{{ project['projectLink'] }}">
        			{{ project['title'] }}
        		</a>
            <p>{{ project['summary'] }}
        	</li>

        {% endfor %}
        </ul>
      
      {% endfor %}


	  <div>Tags: 
            <ul>
            {% for tag in article.tag_list %}
              <li>{{ tag.tag_name }}</li>
            {% endfor %}
            </ul>
      </div>


{% endblock %}