{% extends 'base.html' %}
{% block title %}Give Back | {% endblock %}
{% block content %}

  <h1>Open up Your Heart and Give!</h1>

  <h3>You just read: <a href="/article/{{ article.title }}">{{ article.title }}</a></h3>

  <p>These projects could use your help:</p>

      <h3>Global Giving Results:</h3>
      
      {% for tag, tagged_projs in giving_projs.items() %}
        <h4>Charities related to: {{ tag.tag_name }}</h4>
        
        {% for project in tagged_projs %}
        <div class="actionLinks">
        
        	<div class="give_project">
        		<a href="{{ project['projectLink'] }}" data-linkType='give' data-tagId="{{ tag.tag_id }}" data-articleId="{{ article.article_id }}">
        			{{ project['title'] }}
        		</a>
            <br>
            <img src="{{ project['imageLink'] }}" />
            <br>
            <p>{{ project['summary'] }}</p>
        	</div>
        </div>
        {% endfor %}
        
      
      {% endfor %}

	  <div>Tags: 
            <ul>
            {% for tag in article.tag_list %}
              <li>{{ tag.tag_name }}</li>
            {% endfor %}
            </ul>
    </div>

    <script>
    
    
    </script>



{% endblock %}