<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script type="text/javascript" src="static/js/d3/d3.v3.js"></script>
        <style>
        div.bar {
            display: inline-block;
            width: 20px;
            height: 75px;   /* We'll override this later */
            background-color: teal;
            margin-right: 2px;
        }
        </style>
    </head>

    <body>
        <h2>Running d3 tests!!</h2>

        
        <script type="text/javascript">
            var dataset = [];                        //Initialize empty array
            for (var i = 0; i < 25; i++) {           //Loop 25 times
                var newNumber = Math.random() * 30;  //New random number (0-30)
                dataset.push(newNumber);             //Add new number to array
            }

            // d3.select("body").selectAll("div")
            //     .data(dataset) // data() will lop through the length of any dataset it gets!
            //     .enter()
            //     .append("div")
            //     .attr("class", "bar")
            //     .style("height", function(d) {
            //         var barHeight = d * 5; // scaled by factor of 5
            //         return barHeight + "px";
            //     });

            //Width and height
            var w = 500;
            var h = 50;
            // now I can refer to the width and height whenever I need to

            //Create SVG element
            var svg = d3.select("body")
                        .append("svg")
                        .attr("width", w)
                        .attr("height", h);
            // svg variable is a reference pointing to the svg object created by this method
            // instead of using d3.select('svg') we can just do this now.
            var original_dataset = [ 5, 10, 15, 20, 25 ];

            var circles = svg.selectAll("circle")
                                .data(original_dataset)
                                .enter()
                                .append("circle");

            circles.attr("cx", function(d, i) { // i is the index value of the data (d)
                        return (i * 50) + 25; // cx is one of the coordinates of the centre of the circle. 
                        })
                       .attr("cy", h/2) // centres circles vertically
                       .attr("r", function(d) {
                            return d;
                       })
                       .attr("fill", "yellow")
                       .attr("stroke", "orange")
                       .attr("stroke-width", function(d) {
                            return d/2;
                        });


        </script>
    </body>
</html>     