{% extends 'base.html' %}
{% block content %}

    <h1>Login</h1>
    <form action="/login" method="POST">
        
        <div>
            <label>Apptivist Alias:
                <input type="name" name="name" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <input type="submit" value="Log In">
        </div>

    </form>

{% endblock %}