{% extends 'base.html' %}
{% block content %}

  <h1>Meetup Info</h1>

  <h3>You just read: {{ article.title }}</h3>

  <div class='meetup-live-events'>
  <p>Based on your location and interest, you may like these meetups:</p>

      <h3>Meetup Results:</h3>
      	{# TODO. Make table with group name, event, date, time, etc. #}

        {% for tagged_meetups in meetup_events %}
          <ul class='meetuplinks'>
          {% for event in tagged_meetups %}
          	<li>
          		<a href="{{ event['event_url'] }}">
          			{{ event['group']['name'].lstrip('0123456789') }}
          		</a>
          	</li>

          {% endfor %}
          </ul>
        {% endfor %}
  </div>

	<div>
    Tags: 
        <ul>
        {% for tag in article.tag_list %}
          <li>{{ tag.tag_name }}</li>
        {% endfor %}
        </ul>
  </div>


{% endblock %}
