{% extends 'base.html' %}
{% block content %}

<h1>Post a News Article </h1>
    
<h2>Preview Form</h2>

    <form id="preview-form" method="post" action="preview">
        <div class="form-group">
        <label for="url-field">Article URL</label> 
        <input type="url" class="form-control" name="name" id="url-field">
        </div>

        <div class="form-group">
        <label for="date-field">Date:
        <input type="date" name="date" id="date-field">
        </label>
        </div> 
      
        <div class="form-group">
        <input type="submit" class="btn btn-primary" value="preview">
        </div>
    </form>

    <div id="previewDiv"></div>
    
    <br>
    <form action="new_post" method="GET">
    <br>
    <div>
        <label>What's it all about? Check off at least one tag that describes your article:
        <div>        
            <p><input type="checkbox" name="tag" value="civil">Civil Rights</p>
            <p><input type="checkbox" name="tag" value="climate">Climate Change</p>
            <p><input type="checkbox" name="tag" value="lgbt">LGBT</p>
            <p><input type="checkbox" name="tag" value="politics">Politics</p>
            <p><input type="checkbox" name="tag" value="education">Education</p>
            <p><input type="checkbox" name="tag" value="finance">Finance</p>
            <p><input type="checkbox" name="tag" value="technology">Technology</p>
            <p><input type="checkbox" name="tag" value="animal">Animal Rights</p>
        </div>
        </label>
    </div>
    <br>

    <div>
        <input type="submit" value="Post Article">
    </div>

</form>

 


{% endblock %}