{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}

<!-- Page Title -->
<div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Newsfeed</h1>
          </div>
        </div>
      </div>
</div>

<!-- Posts List -->
        <div class="section blog-posts-wrapper">
        <div class="container">
        <div class="row">
        {% for article in articles %}
          {% if loop.index0 % 3 == 0 %}
          <div class="visible-sm clearfix"></div>
          <div class="visible-md clearfix"></div>
          <div class="visible-lg clearfix"></div>
          {% endif %}
          <!-- Post -->
          <div class="col-md-4 col-sm-6">
            <div class="blog-post">
              <!-- Post Info -->
              {% if article.tag_list %}
              <div class="post-info">
              {% for tag in article.tag_list %}
                <div class="post-comments-count">
                  <ul>
                  <li><a href="/news/{{ tag.tag_name }}" title="Show Tags">{{ tag.tag_name|tag }}</a></li>
                  </ul>
                </div>
              {% endfor %}
              </div>
              {% endif %}
              <!-- End Post Info -->
              <!-- Post Image -->
              <a href="/article/{{ article.title }}"><img src="{{ article.img_src }}" class="post-image" alt="Post Title"></a>
              <!-- End Post Image -->
              <!-- Post Title & Summary -->
              <div class="post-title">
                <h3><a href="/article/{{ article.title }}">{{ article.title|truncate(50)|title }}</a></h3>
              </div>
              <div class="post-summary">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis, nulla id pretium malesuada, dui est laoreet risus, ac rhoncus eros diam id odio. Duis elementum ligula eu ipsum condimentum accumsan.</p>
              </div>
              <div class="post-summary">
              <div class="post-date">
                  <div class="date">{{ article.date }}</div>
              </div>
              </div>
              <!-- End Post Title & Summary -->
              <div class="post-more">
                <a href="/article/{{ article.title }}" class="btn btn-small">Read more</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- End Post -->
        </div>
      </div>
      </div>
      </div>
      <!-- End Posts List -->

{% endblock %}