{% extends 'base.html' %}
{% block content %}

<table>
	<thead>
	    <th><th>Apptivist</th></th>
	</thead>
	<tbody>
	    <tr>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/220/220" /></a></td>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/305/305" /></a></td>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/220/220" /></a></td>
	    </tr>
	    <tr>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/205/205" /></a></td>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/190/190" /></a></td>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/215/210" /></a></td>
	    </tr>
	    <tr>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/200/220" /></a></td>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/275/275" /></a></td>
	        <td>Headline<br><a href="http://www.ninja.com"><img src="http://www.placekitten.com/350/350" /></a></td>
	    </tr>
	</tbody>
	</table>

<ul>
{% for article in articles %}
    
    <li>
    <a href="/article/{{ article.title }}">{{ article.title }}</a>
     Posted by <a href="/apptivist/{{ article.user_id }}">{{ article.user.name }}</a>
     	<ul class='tags'>
     	<li> Tags: [ {% for tag in article.tag_list %} * {{ tag.tag_name }} * {% endfor %} ]</li>
     	</ul>
    </li>

{% endfor %}
</ul>
	
	</body>
</html>

{% endblock %}