{% extends 'base.html' %}


{% block content %}

  <h1>{{ user.name }} </h1>

  <p>Zipcode: {{ user.zipcode }}</p>

  <div class="info">
  {% if user.user_id == session["user_id"] %}
    <form action="/congress/{{ user.zipcode }}" method="GET">
      <div>
          <input type="submit" value="Where's my rep??">
      </div>
    </form>
  {% endif %}

    <div class="articles">
    {% if articles %}
    <h3>Posted Articles:</h3>
      <ul class="article_list">
      {% for article in articles %}
        <li><a href="/article/{{ article.title }}">{{ article.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    </div>

    

    <div class="actions">
    {% if actions %}
    <h3>Actions Taken:</h3>
    <div class="favorite_tag">
    <h4>Most Active Tag: {{ user.favorite_tag.tag_name }} </h4>
    </div>
      <ol class="action_list">
      {% for action in actions %}
        <li>
        
        {# Set up good copy for each action_type: #}
        {% if action.action_type == 'meetup' %} 
        You attended a meetup after reading: 
        {% elif action.action_type == 'give' %}
        You donated to a charity after reading: 
        {% elif action.action_type == 'congress' %}
        You contacted congress after reading: 
        {% endif %}
        
        <a href="/article/{{ action.article.title }}">{{ action.article.title }}</a>

        <p>Tagged: <a href="/news/{{ action.tag.tag_name }}">{{ action.tag.tag_name }}</a></p>

        </li>
      {% endfor %}
      </ol>
    {% endif %}
    </div>

  <h3>The Ripple Effect</h3>
  <p>Actions inspired by posted articles</p>
  <div class="influence">
  </div>

{# d3 library #}
<script src="http://d3js.org/d3.v3.min.js"></script>        
<script src="/static/js/influencetree.js"></script>
<script>
  console.log("d3 data model is active on this page!")
</script>
  
{% endblock %}